.Letter {
  margin-top: 150px;
  background-color: black;
  color: white;
  padding-top: 166px;
  overflow: hidden;
  max-height: 1273px;

  ::-webkit-scrollbar {
    display: none;
  }

  @media (max-width: 360px) {
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    .text {
      margin-bottom: 93px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;

      h1 {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 48px;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: left;
      }
      p {
        color: rgb(168, 168, 168);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0%;
        text-align: center;
      }
    }

    .inputs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      max-width: 580px;
      width: 100%;
      gap: 30px;

      @media (max-width: 580px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 580px;
      }
      div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 580px;
        width: 100%;
        input {
        
          width: 100%;
          height: 48px;
          box-sizing: border-box;
          border: 1px solid rgb(64, 64, 64);
          background-color: black;
          color: white;
          // @media (max-width: 580px) {
          //   max-width: 450px;
          //   width: 100%;
          // }
        }
        textarea {  
          max-width: 580px;
          height: 175px;
          border: 1px solid rgb(64, 64, 64);
          background-color: black;
          color: white;
          @media (max-width: 580px) {
            width: 100%;
          }
  
          // @media (max-width: 580px) {
          //   max-width: 580px;
          //   width: 100%;
          //   height: 128px;
          // }
        }
      }

    }

    .buttonsCard {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-right: 330px;
      gap: 10px;

      @media (max-width: 360px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-right: 100px;
      }

      .buttons {
        display: flex;
        gap: 7px;

        button {
          padding: 12px 15px;
          background: black;
          border: 1px solid white;
          color: white;
        }

        .blogging {
          background-color: white;
          color: black;
        }

        .newOne {
          background: black;
          border: 1px solid white;
          color: white;
        }
      }
    }

    .letterFooter {
      display: flex;
      gap: 30px;
      margin-bottom: 150px;
      position: relative;
      z-index: 10;

      @media (max-width: 360px) {
        display: block;
        align-items: center;
        justify-content: center;
      }

      button {
        border-radius: 30px;
        border: none;
        cursor: pointer;
        background: rgb(255, 255, 255);
        padding: 12px 25px;

        @media (max-width: 360px) {
          margin-bottom: 20px;
        }
      }
    }
  }

  .first {
    position: relative;
    bottom: 1670px;
    width: 689.95px;
    height: 591.86px;
    left: -200px;
    z-index: 5;
    @media (max-width: 1250px) {
      display: none;
    }
  }
  .second {
    position: relative;
    bottom: 2200px;
    width: 415px;
    height: 356px;
    left: 900px;
    z-index: 6;
    @media (max-width: 1270px) {
      display: none;
    }
  }

  .vector {
    position: relative;
    bottom: 1300px;
    width: 689.95px;
    height: 591.86px;
    left: -1400px;
    width: 606.7px;
    height: 1426.81px;

    @media (max-width: 1270x) {
      display: none;
    }
  }
  .vector2 {
    position: relative;
    bottom: 3020px;
    width: 689.95px;
    height: 591.86px;
    right: 70px;
    width: 606.7px;
    height: 1426.81px;

    @media (max-width: 1270px) {
      display: none;
    }
  }
  .vector3 {
    position: relative;
    bottom: 3000px;
    width: 689.95px;
    height: 591.86px;
    right: -800px;
    width: 699.33px;
    height: 1725.32px;

    @media (max-width: 1278px) {
      display: none;
    }
  }
}
